@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
:root{
    --font-padrão: Verdana, Geneva, Tahoma, sans-serif;
    --font-titulo:'Passion One', cursive, sans-serif;
    --font-escrita: 'Sriracha', cursive, sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
}
html, body{
    background-color: white;
    font-family: var(--font-padrão);
    height: 100vh;
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    font-family: var(--font-titulo);
    font-size: 10vw;
    padding-top: 50px;
    font-variant: small-caps;
}
header > p{
    padding-bottom:50px ;
}
a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
section{
    font-family: var(--font-escrita);
    font-size: 3.5vw;
    line-height: 2em;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
}
section.normal{
background-color: white;
}
section.normal > p{
    margin-bottom: 7vh;
}
section.imagem{
    background-attachment: fixed;
    background-size: cover;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
}
section.imagem > p{
    background-color: rgba(0, 0, 0, 0.438);
    color: white;
    width: 42vw;
    padding-left:5px ;
}
#img1{
    background-image: url("../imagens/background001.jpg");
    background-position: center right;
}
#img2{
    background-image: url("../imagens/background002.jpg");
}
footer{
    background-color: black;
    color: white;
    text-align: center;
}
footer > p{
    padding: 10px;
}